---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Tech from '../components/Tech.astro';
import About from '../components/About.astro';
---

<Layout title="Mi Portafolio">
    <Header />
    <main>
		<section class="p-5 pt-20 h-screen" id="about">
             <About />
        </section>
        
		<section class="p-5" id="projects">
            <h1 class="text-4xl font-extrabold">Proyectos</h1>
            <Project />
        </section>

		<section class="p-5 py-15" id="tech">
            <h1 class="text-4xl font-extrabold">Tecnologías</h1>
            <Tech />
        </section>
    </main>
</Layout>