<header class="fixed top-0 left-0 w-full bg-[#13151a] border-b border-green-400 tracking-wide z-50">
    <div class="flex flex-wrap items-center gap-4 px-10 py-3 relative min-h-[65px]">
        <div class="w-full">
            <div class="flex z-50">
                <ul class="flex space-x-8 ml-auto">
                    <li>
                        <a href='#about'class="hover:text-green-400 font-medium block text-[15px]">Sobre Mi</a>
                    </li>
                    <li>
                        <a href='#projects' class="hover:text-green-400 font-medium  block text-[15px]">Proyectos</a>
                    </li>
                    <li>
                        <a href='#tech' class="hover:text-green-400 font-medium  block text-[15px]">Tecnologías</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>